@charset "UTF-8";

body{
    max-width: 100vw;
    /* width: 80%; */
    margin: 0 auto;
    overflow: hidden;
} 

.home-icon {
    width: 40px;   /* アイコンの横幅 */
    height: 40px;  /* アイコンの高さ */
    object-fit: contain; /* 縦横比を維持 */
}


.c_hd{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(55, 205, 255);
    border-bottom: 0.5px solid #000;
    padding:25px 30px;
}

.c_hd_left{
    display: flex;
}

.c_hd_ttl{
    margin-left: 15px;
}

.search{
    height: 30px;
    width: 15vw;
}

.select{
    height: 30px;
    width: 15vw;
}

.c_main{
    width: 80%;
    margin: 0 auto;
    height: calc(100vh - 120px);
    overflow-y: scroll;
}

.count_hd{
    text-align: center;
    border-bottom: 0.5px solid #000;
}

.count_body{
    padding: 30px 0;
    border-bottom: 0.5px solid #000;
}

.count_cnt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.count_cnt img{
    width: 15vw;
}

.book_ttl{
    display: flex;
}

.book_about{
    display: flex;
}

.book_about_text{
    margin-top: 1.35em;
}
