<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>検索画面</title>
    <link rel="stylesheet" href="../static/css/search.css">
</head>

<body>

<header class="c_hd">
    <div class="c_hd_left">
        <a th:href="@{/home}">
            <img th:src="@{/static/images/icon.png}" alt="ホームアイコン" class="home-icon">
        </a>
        <div class="c_hd_ttl">
            <form th:action="@{/search}" method="get">
                <input type="search" name="keyword" class="search" placeholder="タイトルを検索..." th:value="${keyword}">
                <i class="fas fa-search search-icon"></i>
            </form>
        </div>
    </div>
    <div class="c_hd_right">
        <form th:action="@{/search}" method="get">
            <select name="cid" th:field="*{cid}">
                <option value="">カテゴリー検索</option>
                <option th:each="c : ${cList}" th:value="${c.cid}" th:text="${c.category}"></option>
            </select>
            <button type="submit">検索</button>
        </form>
    </div>
</header>

<main class="c_main">
    <div class="u_inner">
        <section class="count">
            <header class="count_hd">
                <h1 class="count_hd_ttl" th:text="${#lists.size(bookList)} + '件ヒット'"></h1>
            </header>

            <!-- 書籍のリストをループ表示 -->
            <div class="count_body" th:each="book : ${bookList}">
                <a th:href="@{/bdetail(id=${book.id})}" class="book_link">
                <div class="count_wrap">
                    <div class="count_cnt">
                        <img th:src="@{${book.imagePath}}" th:alt="'『' + ${book.title} + '』の画像'">

                        <div class="book">
                            <div class="book_ttl">
                                <h2>タイトル：</h2>
                                <h2 th:text="${book.title}">書籍タイトル</h2>
                            </div>
                            <div class="book_about">
                                <h3>あらすじ：</h3>
                                <p class="book_about_text" th:utext="${#strings.replace(book.summary, '\n', '<br>')}">
                                    あらすじテキスト
                                </p>
                            </div>
                        </div>

                        <div class="book_lend">
                            <h2 class="book_lend_ttl" th:text="${book.available ? '貸出可' : '貸出中'}">貸出可</h2>
                        </div>
                    </div>
                </div>
                </a>
            </div>

        </section>
    </div>
</main>

</body>
</html>
